<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'!' + ${check} + '!'" />
    <form class="col-12" th:action="@{/menu}" method="get">
		<div class="form-group" id="user-group"></div>	
                     <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Next page </button>
                </form>

    </body>
</html>